.page {
    width: 960px;
    margin: auto;
}

body {
    background-color: azure;
}

table, tr, td {
    border: 1px solid black;
    padding: 2px;
    margin: auto;
    width: auto;
}

img {
    display: block;
    margin: auto;
    border-radius: 40px;
}

h1, h2, h3{
    text-align: center;
}

